@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-my-deepest-black: #0D0D0D;
  /*--color-my-deeps-black-meh: #111212;*/
  --color-my-deep-black: #0F1010;
  --color-my-blacker: #161717;
  --color-my-black: #1C1E1E;
  --color-my-light-black: #484C4D;
  --color-my-white: #E8E8E8;
  --color-my-blue: #0D96BF;
  --font-grotesk: var(--font-grotesk);
  --font-lao: var(--font-lao);
}


